{% extends 'base.html' %}

{% block content %}
<style>
    /* Form styles */
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: black;
    }
  
    label {
      margin-right: 10px;
    }
  
    input[type="text"] {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      width: 300px;
    }
  
    input[type="submit"] {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      background-image: linear-gradient(to bottom, #000000, #721515);
      color: #fff;
      cursor: pointer;
    }
  
    input[type="submit"]:hover {
      background-color: #0062cc;
    }
  
    /* Table styles */
    .employees {
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: black;
      
    }

  
    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
      
    }
  
    th {
      background-image: linear-gradient(to bottom, #000000, #721515);
      color: #fff;
      border-radius: 10px;
    }
  
    /* Download button styles */
    form[action="{% url 'download' %}"] {
      margin-top: 20px;
      text-align: center;
    }
  
    input[type="submit"] {
      margin: 0 auto;
    }
  
    body {
      background-image: url('https://ixbt.online/live/images/original/16/66/51/2020/09/20/f01ff809da.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      color: white;
      font-family: Arial, sans-serif;
    }
    form {
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 400px;
        margin: 0 auto;
      }
    h2, button {
        text-align: center;
        background-color: #333;
        display: inline-block;
        width: 30%;
        margin-left: 35%;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;

    }
    button{
        margin-top: 20px;
        font-size: 17px;
        margin-bottom: 20px;
    }
    input[type=file]::-webkit-file-upload-button {
        visibility: hidden;
      }
      
      input[type=file]::before {
        content: 'Файлды таңдаңыз';
        text-align: center;
        background-image: linear-gradient(to bottom, #000000, #721515);
        display: inline-block;
        margin-left: 15%;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      
      input[type=file]:hover::before {
        background: #0062cc;
      }
      
  </style>
  <h2>Қызметкерлердің деректерін дешифрлау</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="file" name="file" required>
    <input type="submit" value="Дешифрлау">
  </form>

  <br><br>

  <h2>Қызметкерлердің дешифрланған тізімі</h2>
  <table class="employees">
    <tr>
      <th>Толық аты</th>
      <th>Телефон нөмірі</th>
      <th>Мекен-жайы</th>
    </tr>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.full_name }}</td>
        <td>{{ employee.phone_number }}</td>
        <td>{{ employee.address }}</td>
      </tr>
    {% endfor %}
  </table>

  <br><br>

 
{% endblock %}